<!DOCTYPE html>
<html lang="en">
<head>
    <style>@import url('https://fonts.googleapis.com/css2?family=Splash&display=swap');</style>
    <meta charset="UTF-8">
    <title>Luanalyzer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Bem-Vindo Ao LuAnalyzer</h1>
    </header>

        <!-- envio do formulario -->
        <div class="input">
        <form action="/" method="post">
        <input type="text" id="link_video" name="link_video" class="link" placeholder="Cole seu link aqui" required>
        <button type="submit" class="btn" >Enviar</button>
        </form>
        </div>

    <div class="caixa-resposta">
        {% if titulo_video %}
            <h2>{{ titulo_video }}</h2>
        {% else %}
            <h2>Título do vídeo aparecerá aqui</h2>
        {% endif %}
    <p id="respostaVideo">
        {% if resposta %}
            {{ resposta }}
        {% else %}
            A transcrição ou resumo do vídeo será exibida aqui.
        {% endif %}
    </p>
    </div>


    </body>
</html>